<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <!-- CSS (load bootstrap from a CDN) -->
</head>

<body>
    <h2>WAVS (Test Template)</h2>
    <p>This is a modified response for the URL <b><%= url %></b></p>
</body>
</html>